body {
    background: url("../images/yellow.jpeg");
    background-size: 100%;
    font-family: 'Merriweather', serif;
    color: rgb(20, 75, 20);
    display:block;
    overflow: auto;
    }

     img {
        width: 100%;
        height: 100%;   
    }   
    #container {
        height: 100%;
        width: 95%; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
    }  

    h1 {
        text-align: center;
        font-size: 38px;
        font-weight: 500;
        padding: 15px;
        border-bottom: dotted 3px;
        position: relative;
    }

    #dogButtons {
        max-width: 75%;
        min-width: 50%;
        padding: 5px;
        float: left;
        position: fixed;
    }
    
    #yourInput {
        position: relative;
        padding: 5px;
        max-width: 25%;
        min-width: 20%;
        float: right;
    }

    #askInput, h2 {
        font-size: 16px;
        line-height: 20px;
        color: rgb(20, 75, 20);
    }

    #yourChoice {
        border: rgb(20, 75, 20) 2px solid;
        border-radius: 4px;
        font-size: 13px;
        width: 98%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 15px;
        padding: 1px;
        background-color: rgb(255, 255, 222);
    }

    #submitYourChoice {
        padding: 6px 18px 6px 18px;
        background-color: rgb(20, 75, 20);
        color:  rgb(255, 255, 222); 
        font-family: 'Merriweather', serif;
        font-size: 16px;
        border-radius: 8px;
        position: relative;
        margin-top: -5px;
    }

    #giphys {
        padding: 10px;
        clear: both;
        text-align: center;
    }


    @media only screen and (max-width: 982px) {
        #giphys {
            max-width: 100%;
                padding-top: 25px;
        }
        embed {
            margin-left: 40px !important;
        }
        #dogButtons { 
            padding-bottom: 15px !important;  
        }
    }    

    @media only screen and (max-width: 768px) {
        h2 {
            text-align: center;
            width: 100%;
            clear: both !important;
        }
        #dogButtons {
            clear: both;
            text-align: center;
            max-width: 100% !important;
            top: 16%;
        }
        #yourInput{
            clear: both !important;
            top: 27% !important; 
            left: -32%;      
        }
        #otherBehaviors {
            clear: both !important;
            min-width: 100% !important;
            text-align: center !important;
            margin-left: -50%;   
        }
        #giphys {
            clear: both;
            max-width: 100%;
            padding-top: 15px;
        }
        p {
            margin-top: 370px !important;
            margin-left: -280px !important;
            margin-bottom: -140px !important;
        }
         .gifs {
            margin-top: 160px !important;
            margin-bottom: -140px !important;
            width:39% !important;
            height: 200px !important;
         }
    }

    @media only screen and (max-width: 640px) {
        .gifs {
            margin-top: 160px !important;
            margin-bottom: -130px !important;
            margin-left: 65px !important;
            width:75% !important;
            height: 240px !important;
         }
         p {
            margin-top: 410px !important;
            margin-left: -360px !important;
            margin-bottom: -140px !important;
        }
        #yourInput{
            clear: both !important;
            top: 31% !important; 
            left: -32%;      
        }
        #otherBehaviors {
            clear: both !important;
            min-width: 100% !important;
            text-align: center !important;
            margin-left: -50%;      
        
        }
    }