 body {
    background: url("../images/yellow.jpeg");
    background-size: 100%;
    font-family: 'Merriweather', serif;
    color: rgb(20, 75, 20);
    display:block;
    overflow: auto;
    }

    /* img {
        min-width: 100%;
        min-height: 100%;   
    }   */
    #container {
        height: 100%;
        width: 95%; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
    }  

    h1 {
        text-align: center;
        font-size: 38px;
        font-weight: 500;
        padding: 15px;
        border-bottom: dotted 3px;
        position: relative;
    }

    #dogButtons {
        max-width: 70%;
        min-width: 50%;
        padding: 5px;
        float: left;
        position: fixed;
    }
    
    #yourInput {
        position: relative;
        padding: 5px;
        max-width: 25%;
        min-width: 20%;
        float: right;
    }

    #askInput {
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 5px;
        color: rgb(20, 75, 20);
    }

    #yourChoice {
        border: rgb(20, 75, 20) 2px solid;
        border-radius: 4px;
        font-size: 16px;
        width: 98%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 10px;
        background-color: rgb(255, 255, 222);
    }

    #submitYourChoice {
        margin-top: 10px;
        padding: 6px 18px 6px 18px;
        background-color: rgb(20, 75, 20);
        color:  rgb(255, 255, 222); 
        font-family: 'Merriweather', serif;
        font-size: 16px;
        border-radius: 8px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #giphys {
        padding: 10px;
        clear: both;
        text-align: center;
    }